python3-torch-2.8.0-1.fc43.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
python3-torch-debuginfo-2.8.0-1.fc43.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
python-torch-debugsource-2.8.0-1.fc43.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
