[Desktop Entry]
Actions=
Categories=Graphics;
Comment=
Exec=bin/comfyui/comfyui.sh -a
Icon=comfyui.svg
Name=ComfyUI
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application

